@{Layout = null;}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>

<body>
    <button id="btnClick">發送</button>
    <script>
        $('#btnClick').click(function () {
            var data = [
                { Id: "1", ProductName: "Book" },
                { Id: "2", ProductName: "Phone" },
                { Id: "3", ProductName: "Table" },
                { Id: "4", ProductName: "Chair" }
            ];
            $.ajax({
                type: "post",
                // url: "http://localhost/aa/bb",
                url: "http://localhost:53194/demo2/index",
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (data, status) {
                    alert('已完成傳送共 ' + data + ' 筆資料');
                }
            });
        });
    </script>
</body>

</html>